* { 
    font-family: monospace;
}
header { 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
}
.navbar {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0; 
}
.navbar li {
    margin-left: 10px;
}
.navbar li:first-child {
    margin-left: 0;
}
a:hover {
    color: red;
}
.search {
    display: flex; 
    justify-content:center;
    align-items: center; 
    margin: 20px; 
    padding: 20px;
}
input[type="text"] {
    border-radius: 5px;
    border: 2px solid; 
    outline: none; 
    margin: 5px;
}
button[type="submit"] {
    padding: 5px; 
    border-radius: 5px;
    cursor: pointer; 
    outline: none;
}
button[type="submit"] :hover {
    background-color: white;
} 
.advance label,input { 
    display: block; 
    text-align: left;
    margin: 15px;
} 
.specific {
    margin: 10px 20px; 
    background-color: lightblue;
}

